PORT=3006
DATABASE_URL="postgresql://admin:admin123@localhost:5433/diplomados_db?schema=public"

JWT_SECRET="cambia-esto-por-una-clave-larga-y-aleatoria"
INTERNAL_API_KEY="cambia-esto-por-otra-clave-larga-y-aleatoria"
EMPRESAS_SERVICE_URL="http://localhost:3002"
ESTUDIANTES_SERVICE_URL="http://localhost:3003"
